/* Fonts */
@font-face {
  font-family: 'Kiona';
  src: url('../fonts/Kiona-Regular.eot');
  src: url('../fonts/Kiona-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kiona-Regular.woff') format('woff'),
  url('../fonts/Kiona-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* wrappers styles */
.wrapper {
  background-color: #000000;
}

/* global styles */
.container {
  margin: 0 auto;
}

.btn {
  background-image: -o-linear-gradient(bottom, #380606 0%, #d51111 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#380606), to(#d51111));
  background-image: linear-gradient(to top, #380606 0%, #d51111 100%);
  border: 1px solid #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.61);
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.61);
  color: #ffffff;
  display: inline-block;
}

.text-white {
  background-color: #000000;
  color: #ffffff;
}

.text-black {
  background-color: #ffffff;
  color: #000000;
}

.text-red {
  color: #be251c;
}

.text-underline {
  text-decoration: underline;
}

/* header styles */
.header {
  background-color: rgba(16, 16, 16, .5);
  background-image: -o-linear-gradient(bottom, rgba(15, 17, 22, .5) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 17, 22, .5)), to(rgba(0, 0, 0, .5)));
  background-image: linear-gradient(to top, rgba(15, 17, 22, .5) 0%, rgba(0, 0, 0, .5) 100%);
  -webkit-box-shadow: 0 0.5rem 2.9rem #000000;
  box-shadow: 0 0.5rem 2.9rem #000000;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 11.7rem;
  width: 100%;
  max-width: 153rem;
  z-index: 999;
}

.header:before {
  content: "";
  background: url(../img/divider-red-long.png) center / 100% 100% no-repeat;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  max-width: 112rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 142rem;
  height: 100%;
}

.header__logo {
  height: 100%;
}

.header__logo img {
  height: 100%;
}

.header__toggler {
  background: url(../img/menu-open.svg) center / 100% 100% no-repeat;
  cursor: pointer;
  display: none;
  height: 5rem;
  width: 5rem;
}

.header__toggler.open {
  background: url(../img/menu-close.svg) center / 100% 100% no-repeat;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__links a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.header__links a:nth-child(1) {
  margin-right: 7rem;
}

.header__links a:nth-child(2) {
  margin-right: 6rem;
}

.header__links a:hover {
  border-bottom: 1px solid #c02016;
}

.header__link {
  border-bottom: 1px solid transparent;
}

.header__link.active {
  border-bottom: 1px solid #c02016;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__form input {
  background-color: #000000;
  border: 1px solid #69130e;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0.4rem 0.7rem rgba(0, 0, 0, 0.89);
  box-shadow: inset 0 0.4rem 0.7rem rgba(0, 0, 0, 0.89);
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 1.3rem;
}

.header__form input:first-child {
  margin-right: .7rem;
}

.header__form input::-webkit-input-placeholder {
  color: #727272;
}

.header__form input::-moz-placeholder {
  color: #727272;
}

.header__form input:-ms-input-placeholder {
  color: #727272;
}

.header__form input::-ms-input-placeholder {
  color: #727272;
}

.header__form input::placeholder {
  color: #727272;
}

.header__form img {
  margin: 0 1rem;
  padding: 1rem 0;
  width: .2rem;
}

.header__submit {
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
}

/* intro styles */
.intro {
  background: url(../img/intro-bg.jpg) top center / cover no-repeat;
  margin: 0 auto;
  padding-top: 16rem;
  padding-bottom: 20rem;
  position: relative;
  width: 100%;
  max-width: 153rem;
}

.intro:before {
  content: "";
  background: url(../img/divider-red-long.png) center / 100% 100% no-repeat;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  max-width: 112rem;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 138rem;
}

.intro__description {
  margin-bottom: 3rem;
  max-width: 67rem;
}

.intro__description h1 {
  color: #ffffff;
  display: block;
  font-size: 8.5rem;
  line-height: 9.5rem;
  font-weight: 700;  
}

.intro__description h1 .text-white,
.intro__description h1 .text-black {
  padding: .5rem 1rem;
}

.intro__description h1 .text-red {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.intro__info {
  background: url(../img/intro-info-bg.png) center / 100% 100% no-repeat;
  padding: 2rem;
  max-width: 60rem;
}

.intro__info p {
  color: #ffffff;
  font-size: 3.6rem;
}

.intro__form {
  background-image: -o-linear-gradient(140deg, rgba(24, 23, 28, 0.58) 0%, rgba(11, 10, 13, 0.58) 100%);
  background-image: linear-gradient(-50deg, rgba(24, 23, 28, 0.58) 0%, rgba(11, 10, 13, 0.58) 100%);
  -webkit-box-shadow: -1rem -1.1rem 1.6rem rgba(0, 0, 0, 0.6);
  box-shadow: -1rem -1.1rem 1.6rem rgba(0, 0, 0, 0.6);
  border-radius: 3rem;
  margin-top: 13rem;
  padding: 2rem 4rem 7rem 3rem;
  position: relative;
}

.intro__form-title {
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
}

.intro__form-subtitle {
  color: #c91010;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.intro__form hr {
  background: url(../img/divider-red.png) center / 100% 100% no-repeat;
  border: none;
  margin: 3rem auto;
  width: 100%;
  max-width: 37.4rem;
  height: 0.2rem;
}

.intro__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 48rem;
  max-width: 48rem;
}

.intro__group h3 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

.intro__group input,
.intro__group select {
  background-color: #000000;
  border: 1px solid #353535;
  border-radius: 0.6rem;
  color: #ffffff;
  padding: .7rem 1.1rem;
  width: 100%;
  max-width: 21.5rem;
}

.intro__group input {
  font-size: 1.6rem;
}

.intro__group select {
  font-size: 2rem;
}

.intro__group input::-webkit-input-placeholder {
  color: rgba(106, 99, 99, .2);
}

.intro__group input::-moz-placeholder {
  color: rgba(106, 99, 99, .2);
}

.intro__group input:-ms-input-placeholder {
  color: rgba(106, 99, 99, .2);
}

.intro__group input::-ms-input-placeholder {
  color: rgba(106, 99, 99, .2);
}

.intro__group input::placeholder {
  color: rgba(106, 99, 99, .2);
}

.intro__group-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: -5rem;
  width: 100%;
}

.intro__group-submit button {
  font-size: 2.4rem;
  margin-bottom: .8rem;
  padding: 1.5rem 7rem;
}

.intro__group-submit small {
  color: #ffffff;
  font-size: 1.2rem;
}

/* promo styles */
.promo {
  background: url(../img/promo-bg.jpg) top center / cover no-repeat;
  margin: 0 auto;
  padding: 10rem 0 4.5rem;
  position: relative;
  width: 100%;
  max-width: 153rem;
}

.promo:before {
  content: "";
  background: url(../img/divider-red-long.png) center / 100% 100% no-repeat;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  max-width: 112rem;
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 130rem;
}

.promo__group:not(:last-child) {
  margin-bottom: 6rem;
}

.promo__group:last-child {
  margin-bottom: 4.5rem;
}

.promo__group h2 {
  color: #ffffff;
  font-size: 4.8rem;
  letter-spacing: -0.24rem;
  text-transform: uppercase;
  position: relative;
}

.promo__text-bg {
  color: rgba(255, 255, 255, .03);
  font-size: 6.9rem;
  letter-spacing: -0.24rem;
  position: absolute;
  top: -3rem;
  left: 4rem;
}

.promo__group p {
  color: #ffffff;
  font-size: 2.4rem;
  max-width: 105rem;
}

.promo__button {
  text-align: center;
  width: 100%;
}

.promo__button a {
  display: inline-block;
  font-size: 2.4rem;
  padding: 1.5rem 7rem;
}

/* photos styles */
.photos {
  background: url(../img/photos-bg-2.png) top center / 100% 100% no-repeat;
  margin: 0 auto;
  position: relative;
  min-height: 60rem;
  width: 100%;
  max-width: 153rem;
}

.photos__container {
  position: relative;
  max-width: 149rem;
}

.photos__element {
  border: 1.6rem solid rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0.4rem 2.8rem 2.7rem rgba(0, 0, 0, 0.85);
  box-shadow: 0.4rem 2.8rem 2.7rem rgba(0, 0, 0, 0.85);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

.photos__element:nth-child(1) {
  top: 14rem;
  left: 0%;
  z-index: 7;
  max-height: 30rem;
  max-width: 30rem;
}

.photos__element:nth-child(2) {
  top: 14rem;
  left: 18%;
  z-index: 6;
  max-height: 30rem;
  max-width: 30rem;
}

.photos__element:nth-child(3) {
  top: 5.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  max-height: 47rem;
  max-width: 47rem;
}

.photos__element:nth-child(4) {
  top: 14rem;
  right: 18%;
  z-index: 6;
  max-height: 30rem;
  max-width: 30rem;
}

.photos__element:nth-child(5) {
  top: 14rem;
  right: 0%;
  z-index: 7;
  max-height: 30rem;
  max-width: 30rem;
}

.photos__element img {
  width: 100%;
  height: 100%;
}

.photos__title {
  color: #ecb369;
  font-family: Kiona;
  font-size: 10rem;
  letter-spacing: 0.054rem;
  margin-bottom: 3rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 8;
}

/* preview styles */
.preview {
  background: url(../img/preview-bg-0.png) top center / 100% 100% no-repeat;
  margin: 0 auto;
  width: 100%;
  max-width: 153rem;
}

.preview__block-bg:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.preview__block-bg:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.preview__block-content {
  position: relative;
  text-align: center;
  z-index: 9;
}

.preview__block-line {
  position: relative;
}

.preview__block-line:before {
  content: "";
  background-color: rgba(240, 36, 36, .5);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 13rem;
  z-index: 0;
}

.preview__block-line:first-child {
  margin-bottom: 2.5rem;
}

.preview__block {
  -webkit-box-shadow: 1px 1px 1px #edf0f8, inset 0.4rem 0.8rem 1.6rem rgba(0, 0, 0, 0.55);
  box-shadow: 1px 1px 1px #edf0f8, inset 0.4rem 0.8rem 1.6rem rgba(0, 0, 0, 0.55);
  border-radius: 6.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 2.3rem 0 3rem;
  position: relative;
  max-width: 142rem;
}

.preview__block-line:nth-child(1) .preview__block {
  background: url(../img/block-bg-1.png) center / 101% 101% no-repeat;
}

.preview__block-line:nth-child(2) .preview__block {
  background: url(../img/block-bg-2.png) center / 101% 101% no-repeat;
}

.preview__block h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

.preview__block h3 {
  color: #ffffff;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}

.preview__divider {
  margin: 0 auto 2.5rem;
  height: 1.4rem;
  width: 40.2rem;
}

.preview__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 70rem;
}

.preview__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 80rem;
}

.preview__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  width: 19rem;
  max-width: 19rem;
}

.preview__element a {
  color: #fff;
  display: block;
}

.preview__element>a>img {
  height: 14.5rem;
  width: 14.5rem;
}

.preview__element p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
}

.preview__element strong {
  font-weight: 700;
}

.preview__video {
  background-color: #000000;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 14.5rem;
  width: 14.5rem;
  max-height: 14.5rem;
  max-width: 14.5rem;
}

.preview__video-thumbnail {
  width: 100%;
}

.preview__play {
  cursor: pointer;
  opacity: 0.55;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 6.7rem;
  width: 6.7rem;  
}

.slick-arrow-next,
.slick-arrow-prev {
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 6rem;
  width: 3rem;
}

.slick-arrow-next {
  margin-left: 2rem;
}

.slick-arrow-prev {
  margin-right: 2rem;
}

/* partners styles */
.partners {
  background: url(../img/partners-bg.png) top center / 100% 100% no-repeat;
  margin: 0 auto;
  padding: 4.5rem 0 39.5rem;
  width: 100%;
  max-width: 153rem;
}
.partners__container {
  max-width: 138rem;
}

.partners h2 {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
}

.partners hr {
  background: url(../img/divider-white-long.png) center / 100% 100% no-repeat;
  border: none;
  margin: .5rem auto 8rem;
  width: 100%;
  max-width: 90.3rem;
  height: 0.2rem;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 8rem;
  text-align: center;
}

.partners__row:first-child {
  margin-bottom: 3rem;
}

.partners__row img {
  height: auto;
  max-width: 100%;
}

.partners h3 {
  color: #ffffff;
  font-size: 4.8rem;
  letter-spacing: -0.24rem;
  text-transform: uppercase;
  text-align: center;
}

.partners__hr-testimonial {
  background: url(../img/divider-white-long.png) center / 100% 100% no-repeat;
  border: none;
  margin: .5rem auto 3rem;
  width: 90.3rem;
  height: 0.2rem;
}

.partners h4 {
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 4.2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.partners__text-big {
  font-size: 3.6rem;
}

.partners__button {
  text-align: center;
}

.partners__button a {
  font-size: 2.4rem;
  padding: 1.5rem 7rem;
}

/* feedback styles */
.feedback {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 153rem;
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -23rem;
  width: 100%;
  max-width: 137rem;
}

.feedback__element {
  background-color: #1d1e1f;
  border-radius: 5rem;
  padding: 13.5rem 2.1rem 3rem 3.8rem;
  position: relative;
  max-width: 43rem;
}

.feedback__img {
  border: 1.6rem solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  -webkit-box-shadow: 1px -1.7rem 4.3rem #000000;
  box-shadow: 1px -1.7rem 4.3rem #000000;
  position: absolute;
  top: -10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 20.5rem;
  width: 20.5rem;
}

.feedback__img img {
  height: 100%;
  width: 100%;
}

.feedback__element p {
  color: #eae9e7;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.feedback__element h5 {
  font-size: 1.8rem;
}

/* footer styles */
.footer {
  background: url(../img/footer-bg-img.jpg) top center / cover no-repeat;
  margin: 0 auto;
  padding: 35rem 0 0;
  width: 100%;
  max-width: 153rem;
}

.footer__title {
  color: #ffffff;
  font-size: 4rem;
  line-height: 4.8rem;
  margin-bottom: 9.4rem;
  text-align: center;
  text-transform: uppercase;
}

.footer__title hr {
  background: url(../img/divider-red.png) center / 100% 100% no-repeat;
  border: none;
  margin: .5rem auto 8rem;
  width: 100%;
  max-width: 39rem;
  height: 0.2rem;
}

.footer__button {
  text-align: center;
}

.footer__button a {
  font-size: 2.4rem;
  margin-bottom: 7.7rem;
  padding: 1.5rem 9rem;
}

.footer__terms {
  background-color: rgba(42, 42, 42, .7);
  background-image: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  padding: 9rem 0 10rem;
  position: relative;
}

.footer__terms:before {
  content: "";
  background: url(../img/divider-red-long.png) center / 100% 100% no-repeat;
  position: absolute;
  top: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  max-width: 112rem;
}

.footer__terms {
  text-align: center;
}

.footer__terms a {
  color: #ffffff;
}

.footer__terms h3 {
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.footer__group {
  margin-bottom: 1.5rem;
}

.footer__link {
  font-size: 1.6rem;
  font-weight: bold;
}

.footer__link-dash {
  padding: 0 1rem;
}

.footer__terms h2 {
  color: #c02016;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.footer__terms h2 a {
  color: #c02016;
}





/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }

  /* partners styles */
  .partners__row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .partners__row img {
    max-width: 25%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }

  /* partners styles */
  .partners__row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .partners__row img {
    max-width: 25%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  /* global styles */
  .container {
    padding: 1rem;
  }

  /* header styles */
  .header__navbar {
    background-color: #000;
    -webkit-box-shadow: 0px 0px 5px #fff;
    box-shadow: 0px 0px 5px #fff;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 2rem;
    position: absolute;
    top: 11.7rem;
    right: 0;
  }

  .header__navbar.show {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__toggler {
    display: block;
  }

  .header__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__links a:nth-child(1),
  .header__links a:nth-child(2) {
    font-size: 2.6rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .header__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__form input {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .header__submit {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
  }

  .header__form img {
    display: none;
  }

  /* intro styles */
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .intro__description {
    max-width: 100%;
  }

  .intro__description h1 {
    text-align: center;
  }

  .intro__info {
    max-width: 100%;
  }

  .intro__info p br {
    display: none;
  }

  .intro__form {
    margin: 0 auto;
    width: 75%;
  }

  .intro__group {
    margin: 0 auto;
  }

  .intro__group h3 {
    font-size: 2.5rem;
  }

  .intro__group input,
  .intro__group select {
    font-size: 2.5rem;
  }

  /* photos styls */
  .photos__element:nth-child(1),
  .photos__element:nth-child(2),
  .photos__element:nth-child(4),
  .photos__element:nth-child(5) {
    top: 11rem;
    max-height: 20rem;
    max-width: 20rem;
  }

  .photos__element:nth-child(3) {
    max-height: 30rem;
    max-width: 30rem;
  }

  /* preview styles */
  .preview__block {
    max-width: 100%;
  }
  .preview__block-content {
    width: 100%;
  }
  .preview__block h2 {
    margin: 0 auto;
    max-width: 90%;
  }

  .preview__block-line:nth-child(1) .preview__block {
    background: 
    url(../img/block-bg-1-mobile-left.png) left center / auto 100% no-repeat,
    url(../img/block-bg-1-mobile-right.png) right center / auto 100% no-repeat,
    #151719;
  }

  .preview__block-line:nth-child(2) .preview__block {
    background: 
    url(../img/block-bg-2-mobile-left.png) left center / auto 100% no-repeat,
    url(../img/block-bg-2-mobile-right.png) right center / auto 100% no-repeat,
    #151719;
  }

  .preview__images {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 60rem;
  }
  .preview__element {
    margin-bottom: 1rem;
    width: 50%;
    max-width: 50%;
  }
  .preview__element>a>img {
    height: 17rem;
    width: 17rem;
  }
  .preview__element p {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .preview__slider {
    max-width: 60rem;
  }
  .slick-initialized .slick-slide {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .preview__video {
    height: 17rem;
    max-height: 17rem;
    width: 17rem;
    max-width: 17rem;
  }

  /* partners styles */
  .partners {
    padding-bottom: 140rem;
  }

  .partners h2 {
    font-size: 6.6rem;
  }

  .partners__row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .partners__row_second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .partners__row img {
    margin-bottom: 3rem;
    padding: 0 4rem;
    max-width: 50%;
  }

  .partners hr {
    margin-bottom: 1rem;
  }

  .partners h4 {
    font-size: 2.6rem;
    line-height: 5rem;
  }

  .partners__text-big {
    font-weight: 700;
  }

  .partners__button a {
    font-size: 3rem;
  }

  /* feedback styles */
  .feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: -35rem;
  }
  .feedback__element {
    margin-bottom: 15rem;
    max-width: 80%;
  }
  @media (max-width: 576px) {
    .feedback__element {
      max-width: 90%;
    }
  }
  .feedback__element p,
  .feedback__element h5 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  /* footer styles */
  .footer__terms h3 {
    font-size: 3rem;
  }

  .footer__link {
    font-size: 3rem;
  }

  .footer__terms h2 {
    font-size: 3.6rem;
    font-weight: 700;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }

  /* feedback styles */
  .feedback__element {
    margin-bottom: 13rem;
    max-width: 95%;
  }
}
